Repository ReinderVosDeWael/TwoStepEmbedding, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Python, MATLAB, Github

[GIT] Added IDE directories to .gitignore
  .gitignore
  .vscode/settings.json
Labels: none

[GIT] Changed workflow names
  .github/workflows/black.yml
  .github/workflows/code_coverage.yml
  .github/workflows/unittests.yml
Labels: Github

[TST] Added utils tests.
  tsepy/tests/test_utils.py
  tsepy/utils.py
Labels: none

[FIX] Fixed code coverage trigger.
  .github/workflows/code_coverage.yml
Labels: Github

[GIT] Upgraded checkout action
  .github/workflows/code_coverage.yml
Labels: Github

[FIX] Attempt fix code coverage
  .github/workflows/code_coverage.yml
Labels: Github

[GIT] Add coverage badge
  README.rst
Labels: Documentation

[REF] Explicit imports
  tsepy/tests/test_utils.py
Labels: none

[FIX] Attempt fix code coverage
  .github/workflows/code_coverage.yml
  tsepy/tests/__init__.py
Labels: Github

[REF] Formatting
  tsepy/tests/__init__.py
  tsepy/tests/test_utils.py
  tsepy/utils.py
Labels: none

Update README.rst
  README.rst
Labels: Documentation

[TST] Added TwoStepEmbedding test
  tsepy/tests/test_TwoStepEmbedding.py
Labels: none

[DOC] Added documentation pages.
  .gitignore
  README.rst
  docs/Makefile
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/api/examples/README.rst
  docs/api/index.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Labels: Documentation

[FIX] All tests operational.
  README.rst
  tsepy/__init__.py
  tsepy/base.py
  tsepy/tests/test_TwoStepEmbedding.py
  tsepy/tests/test_utils.py
  tsepy/utils.py
Labels: Documentation

[REF] Formatting.
  tsepy/base.py
  tsepy/tests/test_TwoStepEmbedding.py
Labels: none

[FIX] Nystrom with different # of timepoints fixed.
  tsepy/base.py
  tsepy/tests/test_TwoStepEmbedding.py
  tsepy/utils.py
Labels: none

[FIX] Unit tests now correctly run different OS
  .github/workflows/unittests.yml
Labels: Github

[FIX] Fix windows CI
  .github/workflows/unittests.yml
Labels: Github

[FIX] Fixed unit test badge
  README.rst
Labels: Documentation

.github/labeler.yml:

Documentation:
  - docs/*
  - docs/**/*
  - ./*.rst
  - ./*.md

Python:
  - brainstat/*
  - brainstat/**/*

MATLAB:
  - matlab/*
  - matlab/**/*

Github:
  - .github/*
  - .github/**/*
